{% extends "base.html"%}

{% block conteudo %}
<div class="container_cadastro">

<h1 class="titulo">Tela de Cadastro</h1>



 <form action="{{url_for('api_routes.cadastrar_cliente')}}" class="row g-3 centralizarcadastro" method="POST">
  <div class="col-md-6">
      <h6><label for="email" class="form-label">Email</label></h6>
    <input type="email" class="form-control text-center" id="email"  value="{{email}}" name="email" required>
  </div>
     <div class="col-md-6">
         <h6><label for="apelido" class="form-label">Apelido</label></h6>
    <input type="text" class="form-control text-center" id="apelido" name="apelido" value="{{apelido}}" required>
     </div>
  <div class="col-12">
      <h6><label for="end" class="form-label text-center">Cep</label></h6>
    <input type="text" class="form-control text-center" id="end" name="end" required value="{{endereco.cep_cliente}}">

    <a  href="{{url_for('api_routes.cadastrar_cliente')}}"><br><button class="btn btn-outline-success">Pesquisar Cep</button></a>

  </div>


</form>
     <form action="{{url_for('api_routes.validar_email', email=email)}}" class="row g-3 centralizarcadastro" method="POST">

     <div class="col-md-2">
         <h6><label for="estado" class="form-label">Estado</label></h6>
    <input type="text" class="form-control text-center" id="estado" name="estado"  value="{{endereco.estado}}">
  </div>

     <div class="col-md-4">
         <h6><label for="cidade" class="form-label">Cidade</label></h6>
    <input type="text" class="form-control text-center" id="cidade" name="cidade"  value="{{endereco.cidade}}">
  </div>

     <div class="col-6 centro">
         <h6><label for="bairro" class="form-label">Bairro</label></h6>
    <input type="text" class="form-control text-center" id="bairro"  name="bairro"  value="{{endereco.bairro}}">
  </div>

  <div class="col-12">
      <h6><label for="logradouro" class="form-label">Logradouro: Avenida/rua/Travessa</label></h6>
    <input type="text" class="form-control text-center" id="logradouro" name="logradouro" value="{{endereco.logradouro}}" >
  </div>


  <div class="col-16">
      <h6><label for="complemento" class="form-label">Complemento</label></h6>
    <input type="text" class="form-control text-center" id="complemento"  name="complemento" value="{{endereco.complemento}}"  placeholder="Complemente o endereço aqui.">
  </div>


   <div class="col-md-6">
       <h6><label for="senha" class="form-label">Senha</label></h6>
    <input type="password" class="form-control" id="senha" name="senha" >
  </div>
     <div class="col-md-6">
         <h6><label for="confirmar_senha" class="form-label">Confirmar Senha</label></h6>
    <input type="password" class="form-control" id="confirmar_senha" name="confirmar_senha" >
  </div>

         <div class="col-12">
      <a href="{{url_for('api_routes.validar_email', email=email)}}" > <button type="submit" class="btn btn-primary">Cadastrar</button></a>
  </div>


     <hr>

</form>
</div>
{% endblock %}