{% extends "base.html"%}

{% block conteudo %}
<div class="container_cadastro">

<h1 class="titulo">Tela de Cadastro</h1>



 <form action="#" class="row g-3 centralizarcadastro" method="POST">
  <div class="col-md-6">
      <h6><label for="email" class="form-label">Email</label></h6>
    <input type="email" class="form-control text-center" id="email"  value="#" name="email" required>
  </div>
     <div class="col-md-6">
         <h6><label for="apelido" class="form-label">Apelido</label></h6>
    <input type="text" class="form-control text-center" id="apelido" name="apelido" value="#" required>
     </div>
  <div class="col-12">
      <h6><label for="end" class="form-label text-center">Cep</label></h6>
    <input type="text" class="form-control text-center" id="end" name="end" required value="#">

    <a  href="#"><br><button class="btn btn-outline-success">Pesquisar Cep</button></a>

  </div>



     <div class="col-md-2">
         <h6><label for="estado" class="form-label">Estado</label></h6>
    <input type="text" class="form-control text-center" id="estado" name="estado"  value="#">
  </div>

     <div class="col-md-4">
         <h6><label for="cidade" class="form-label">Cidade</label></h6>
    <input type="text" class="form-control text-center" id="cidade" name="cidade"  value="#">
  </div>

     <div class="col-6 centro">
         <h6><label for="bairro" class="form-label">Bairro</label></h6>
    <input type="text" class="form-control text-center" id="bairro"  name="bairro"  value="#">
  </div>

  <div class="col-12">
      <h6><label for="logradouro" class="form-label">Logradouro: Avenida/rua/Travessa</label></h6>
    <input type="text" class="form-control text-center" id="logradouro" name="logradouro" value="#" >
  </div>


  <div class="col-16">
      <h6><label for="complemento" class="form-label">Complemento</label></h6>
    <input type="text" class="form-control text-center" id="complemento"  name="complemento" value="#"  placeholder="Complemente o endereço aqui.">
  </div>


   <div class="col-md-6">
       <h6><label for="senha" class="form-label">Senha</label></h6>
    <input type="password" class="form-control" id="senha" name="senha" >
  </div>
     <div class="col-md-6">
         <h6><label for="confirmar_senha" class="form-label">Confirmar Senha</label></h6>
    <input type="password" class="form-control" id="confirmar_senha" name="confirmar_senha" >
  </div>

  <div class="col-12">
      <a href="#" > <button type="submit" class="btn btn-primary">Cadastrar</button></a>
  </div>
     <hr>

</form>
</div>
{% endblock %}