{% extends "base.html" %}

{% block conteudo %}
        <div class="container">
        <h1 class="titulo text-center ">Cadastro de Produtos</h1>

  <div class="text-center">
  <form action="{{url_for('api_routes.cadastrar_produto', apelido=apelido, quantidade_carrinho=quantidade_carrinho)}}" method="POST" enctype="multipart/form-data" class="centralizar">
		<div class="form-group ">
            <div class="mb-3 separar">
                  <label for="formFile" class="form-label separar"><strong>Faça o upload da imagem aqui:</strong> </label>
                  <input class="form-control" type="file" id="formFile" name="upload">
            </div>
            <div class="separar">
			<label class=" text-dark separar " ><strong>Nome do Produto</strong> </label><br>
          <input class="form-control text-center " type="text" name="nome" placeholder="Digite o nome do seu produto." required>
            </div>
            <div class="">
                <label class=" text-dark separar "><strong>Preço</strong> </label>
                <p><small><em>Utilize o " . " como separador dos valores.</em></small></p>
			<input class="form-control text-center " type="text"   name="preco" placeholder="Digite aqui o preço do produto." required>
            </div>
            <div class="separar">
                <label class=" text-dark separar"><strong>Descrição do Produto</strong> </label><br>
		    <textarea class="form-control text-center" name="descricao" placeholder="Digite a descrição do seu produto." ></textarea>
            </div>

        </div>
		<p></p>
     <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="submit" class="btn btn-outline-primary">Adicionar</button>
         <a href="{{url_for('api_routes.produto', apelido=apelido, quantidade_carrinho=quantidade_carrinho)}}" class="btn btn-outline-primary" >Voltar</a>

     </div>
	</form>
  </div>
  </div>
{% endblock %}
