{% extends "base.html" %}

{% block conteudo %}

 <h1 class="container_titulo text-center">Controle de Pedidos</h1>
<table class="table container_pedido">
  <thead>
    <tr>
        <th scope="col" >N° Pedido</th>
        <th scope="col"  >Produtos</th>
        <th scope="col">Cliente</th>
         <th scope="col">Endereço</th>
        <th scope="col">Valor do Pedido</th>
        <th scope="col">Data Pedido</th>
        <th scope="col" width="100px">Status</th>
        <th scope="col" width="200px" scope="col">Atualização do Status</th>
    </tr>
  </thead>

     {% for i in lista_pedidos %}
        {% if apelido == i.apelido %}

  <tbody>
    <tr>


        <td>{{i.numero_pedido}}</td>
        <td width="230px" ><details><summary>Ver Produtos</summary>
                {% for x in pedidos %}
                    {% if i.numero_pedido == x.numero_pedido %}
                        {% for j in produtos %}
                            {% if x.id_produto == j.id_produto %}



                                <img class="icone_carrinho rounded-circle" width="40px" height="40px" src="\static\{{j.imagem}}" alt="">
                                {{j.nome.title()}}
                                <br>

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

        </details> </td>




            {%for x in lista_enderecos %}
                {% if i.id_cliente == x["cliente"].id_cliente %}

                    <td>{{x["cliente"].apelido}}</td>
                    <td width="230px" ><details><summary>Endereço</summary>

                    Cep: {{x["endereco"].cep_cliente}},
                    Estado: {{x["endereco"].estado}},
                    Cidade: {{x["endereco"].cidade}},
                    Bairro: {{x["endereco"].bairro}},
                    Logradouro: {{x["endereco"].logradouro}},
                    Complemento: {{x["endereco"].complemento}}

                {% endif %}
            {% endfor %}

        </details> </td>
      <td>R$ {{i.valor}}</td>
      <td>{{i.data_pedido}}</td>



          {% if i.status == 'Preparando' %}
        <td width="120px" ><mark class="rounded bg-primary text-light ">{{i.status}}</mark></td>
      {% endif %}


           {% if i.status == 'Pedido Saiu Para Entrega.' %}
        <td class="text-center" width="120px" ><mark class="rounded bg-warning text-light  ">{{i.status}}</mark></td>
      {% endif %}


       {% if i.status == 'Finalizado' %}
        <td width="120px" ><mark class="rounded bg-success text-light ">{{i.status}}</mark></td>
      {% endif %}

      {% if i.status == 'Cancelado' %}
        <td width="120px" ><mark class="rounded bg-danger text-light ">{{i.status}}</mark></td>
      {% endif %}

      <td>

          <form action="{{url_for('rota_atualizar_status_pedido.atualizar_status_pedido', apelido=apelido, quantidade_carrinho=quantidade_carrinho, numero_pedido=i.numero_pedido, id_cliente=i.id_cliente)}}" class=" " method="POST">


          <div class="mb form-check">
            <input type="radio" class="form-check-input" name="radio1" id="checkbox1" value="Preparando">
            <label class="form-check-label" >Preparando</label>
          </div>
          <div class="mb form-check">
            <input type="radio" class="form-check-input text-center" name="radio1" id="checkbox2" value="Pedido Saiu Para Entrega.">
            <label class="form-check-label" >Saiu p/ Entrega</label>
          </div>
          <div class="mb form-check">
            <input type="radio" class="form-check-input" name="radio1" id="checkbox3" value="Finalizado" >
            <label class="form-check-label" >Finalizado</label>
          </div>
           <div class="mb form-check">
            <input type="radio" class="form-check-input" name="radio1" id="checkbox4" value="Cancelado" >
            <label class="form-check-label" >Cancelar</label>
          </div>

                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                          <button  class="btn btn-outline-success" href="{{url_for('rota_atualizar_status_pedido.atualizar_status_pedido', apelido=apelido, quantidade_carrinho=quantidade_carrinho, numero_pedido=i.numero_pedido, id_cliente=i.id_cliente)}}">Atualizar</button>
                      </div>

</form>

      </td>
    </tr>

  </tbody>
{% endif %}


    {% endfor %}

</table>

{% endblock%}