{% extends "base.html"%}

{% block conteudo%}


 <div class="text-center">
    <div class="container-fluid ">

        <div class="padding "  >

         <img class="rounded painel border border-5 border-dark container_imageminicial" src="\static\imagem\16590.jpg" alt="Imagem não disponível no momento.">

        </div>


     </div></div>

<div class="row ">


            {% for prod in produtos.body %}
            {% if i != 'estilo.css' and i != 'carrinho.png' and i != 'free.jpg' and i != 'imagem' %}

  <div class="col-md-3  ">
<div class="card text-center container" style="width: 20rem;">
<img src="\static\{{prod.imagem}}" width="300px" height="200px" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title text-center">{{prod.nome}}</h5>
    <p class="card-text acertartexto text-center">{{prod.descricao}}</p>
    <h5 class="card-title text-center ">R$ - {{prod.preco}}</h5>
      {% if id_cliente != 'Efetue o Login!' %}
            <a href="{{url_for('api_routes.adicionar_carrinho', apelido=apelido, quantidade_carrinho=quantidade_carrinho, id_produto=prod.id_produto)}}"  class="btn btn-outline-dark">Adicionar ao Carrinho</a>
        {% endif %}
      {% if apelido == 'Efetue o Login!' %}
          <a href="#" class="btn btn-outline-dark">Adicionar ao Carrinho</a>
      {% endif %}

  </div>
</div>
  </div>


        {% endif %}
      {% endfor %}

    <nav class="container">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">1 <span class="visually-hidden">(página atual)</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Próxima</a>
      </li>
    </ul>
  </nav>

</div>

{% endblock%}
