{% extends "base.html"%}

{% block conteudo%}


 <div class="text-center">
    <div class="container-fluid ">

        <div class="padding "  >

         <img class="border border-5 border-dark container_imageminicial" src="\static\imagem\{{imagem}}" alt="Imagem não disponível no momento.">

        </div>


     </div></div>

<div class="row container_produtos_home">


            {% for prod in produtos.body %}
            {% if i != 'estilo.css' and i != 'carrinho.png' and i != 'free.jpg' and i != 'imagem' %}

  <div class="col-md-4  ">
<div class="card text-center container" style="width: 20rem;">
<img src="\static\{{prod.imagem}}" width="300px" height="200px" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title text-center">{{prod.nome}}</h5>
    <p class="card-text acertartexto text-center">{{prod.descricao}}</p>
    <h5 class="card-title text-center ">R$ - {{prod.preco}}</h5>

      {% if apelido != 'Efetue_o_Login!' %}
            <a href="{{url_for('rota_adicionar_carrinho.adicionar_carrinho', apelido=apelido, quantidade_carrinho=quantidade_carrinho, id_produto=prod.id_produto)}}"  class="btn btn-outline-dark">Adicionar ao Carrinho</a>
        {% endif %}

      {% if apelido == 'Efetue_o_Login!' %}
            <a href="{{url_for('rota_login.login', apelido=apelido, quantidade_carrinho=quantidade_carrinho)}}"  class="btn btn-outline-dark">Adicionar ao Carrinho</a>
        {% endif %}

      {% if apelido == 'Efetue o Login!' %}
          <a href="#" class="btn btn-outline-dark">Adicionar ao Carrinho</a>
      {% endif %}

  </div>
</div>
  </div>


        {% endif %}
      {% endfor %}


</div>
<br><br>
{% endblock%}
