{% extends "base.html" %}

{% block conteudo%}

            {%- for mensagem in get_flashed_messages() %}
                {% if 'encontrado' in mensagem or 'Nenhum' in mensagem%}
                    <div class="alert alert-danger text-center ">
                        {{mensagem}}
                    </div>
                {% endif %}
              {%- endfor %}

<div class="container text-center">


    <h1 class="titulo">LOGIN</h1>

    <form action="#" class="centralizar" method="POST">
  <div class="mb-1  ">
    <label  class="form-label text-center">Email</label>
    <input type="email" class="form-control " name="email" aria-describedby="emailHelp" required>
    <div   class="form-text">Digite aqui um email válido.</div>
  </div>
  <div class="mb-1">
    <label class="form-label">Senha</label>
    <input type="password" class="form-control" name="senha" required>
  </div>
  <br>
    <a type="button" href="#">
            <button class="btn btn-outline-success">Entrar</button>
            </a>
    {% if apelido == 'Efetue_o_Login!'%}
    <div class="mb-1 separar" >
        <br>
        <h5><a  href="{{url_for('cadastrar_cliente.cadastrar_cliente')}}">Ainda não é cadastrado?</a></h5>
    </div>
    {% endif %}
</form>
</div>


    {% endblock %}