{% extends "base.html" %}

{% block conteudo %}

 <h1 class="titulo text-center">Meus Pedidos</h1>
<table class="table container_meuspedidos">
  <thead>
    <tr>

      <th scope="col"  >Produtos</th>
      <th scope="col" >N° Pedido</th>
      <th scope="col">Cliente</th>
      <th scope="col">Valor do Pedido</th>
      <th scope="col">Data Pedido</th>
        <th scope="col">Status</th>
    </tr>
  </thead>

     {% for i in lista_pedidos %}
        {% if apelido == i.apelido %}

  <tbody>
    <tr>



        <td width="100px" ><details><summary>Ver Produtos</summary>
                {% for x in pedidos %}
                    {% if i.numero_pedido == x.numero_pedido %}
                        {% for j in produtos %}
                            {% if x.id_produto == j.id_produto %}


                                {{j.nome.title()}}
                                <img class="icone_carrinho rounded-circle" width="80px" height="60px" src="\static\{{j.imagem}}" alt="">


                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

        </details> </td>

      <td>{{i.numero_pedido}}</td>
      <td>{{i.id_cliente}}</td>
      <td>R$ {{i.valor}}</td>
      <td>{{i.data_pedido}}</td>



          {% if i.status == 'Preparando' %}
        <td width="230px" ><mark class="rounded bg-primary text-light ">{{i.status}}</mark></td>
      {% endif %}


           {% if i.status == 'Saiu p/ Entrega' %}
        <td width="230px" ><mark class="rounded bg-warning text-light ">{{i.status}}</mark></td>
      {% endif %}


       {% if i.status == 'Finalizado' %}
        <td width="230px" ><mark class="rounded bg-success text-light ">{{i.status}}</mark></td>
      {% endif %}

      {% if i.status == 'Cancelado' %}
        <td width="230px" ><mark class="rounded bg-danger text-light ">{{i.status}}</mark></td>
      {% endif %}

      <td>

      </td>
    </tr>

  </tbody>
{% endif %}


    {% endfor %}

</table>

{% endblock%}