{% extends 'base.html' %}

{% block conteudo %}
<div class="container_validar">
<h1 class="titulo text-center">Validação de Email </h1>


    {%- for mensagem in get_flashed_messages() %}
                {% if 'Codigo' in mensagem or 'não' in mensagem or 'Aguardando' in mensagem %}
                    <div class="alert alert-danger text-center ">
                        {{mensagem}}
                    </div>
                {% endif %}
              {%- endfor %}



<h4 class="titulo text-center">Clique no botão abaixo para receber o código de confirmação no email cadastrado.<br><br><mark class="rounded bg bg-dark text-light">{{email}}</mark></h4>



    <div  class="text-center centro paddingdiv">
        <br>
        <a href="{{url_for('codigo.codigo_validation', email=email)}}" type="submit" class="btn btn-outline-success" value="True">Enviar Código para o email acima</a>
    </div>


    <br>
    <h2 class="titulo">Digite aqui para verificação do email:</h2>

 <form action="{{url_for('validar_email.validar_email', email=email)}}" class="row g-3 text-center" method="POST">

<div class="col-md-12 centrovalidar centro text-center">
    <input  type="text" class="form-control text-center" id="codigo" name="codigo"  value="">
  </div >


    <div  class="text-center centro paddingdiv">
        <br>
        <button type="submit" class="btn btn-outline-primary ">Validar</button>
    </div>

 </form>
 </div>

{% endblock %}